<%- include('partials/header') -%>

<main class="container d-flex justify-content-between">
    <div class="w-50 p-5 list-group">
        <% for(var i=0; i<sops.length; i++) {%>
        <a href="#" class="list-group-item list-group-item-action">
          <%= sop[i].title %>
        </a>
        <% } %>
    </div>
    <form class="w-50 p-5" action="/sops/createSop" method="POST">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input placeholder="Enter a title for the SOP" type="text" class="form-control" id="title" name="title">
          </div>
        <div class="form-group mb-3">
          <label for="objective" class="form-label">I. Objective</label>
          <input placeholder="Enter the objective of the SOP" type="text" class="form-control" id="objective" name="objective">
        </div>
        <div class="form-group mb-3">
          <label for="prerequisites" class="form-label">II. Prerequisites</label>
          <input placeholder="Enter any prerequesites necessary to complete the procedure" type="text" class="form-control" id="prerequisites" name="prerequisites">
        </div>
        <div class="form-group mb-3">
            <label for="procedure" class="form-label">III. Procedure</label>
            <textarea placeholder="Enter the necessary steps to complete to procedure" class="form-control" id="procedure" name="procedure"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="conclusion" class="form-label">IV. Conclusion</label>
          <textarea placeholder="Enter the conclusion for the SOP" class="form-control" id="conclusion" name="conclusion"></textarea>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
    

<%- include('partials/footer') -%>